.body{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    
    
}

.containForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 154, 154, 0.471);
    height: 80vh;
    width: 30vw;
    border-radius: 10px;
}